/* read more about @font-face */

@media screen and (max-width: 720px){
  }

html{
    background-color: #f1f1f1;
    cursor: url('../images/asterisk.png'), auto;
  }

body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

h1{
    margin: 0;
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

#quote{
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

#about{
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

#projects{
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}

#contact{
    color: rgb(24, 24, 24);
    font-family: 'Gothic A1', sans-serif;
}
