/* read more about @font-face */

@media screen and (max-width: 720px) {
}

@font-face {
  font-family: sansNarrow;
  src: url("../assets/fonts/helvetica-narrow/helvetica-narrow.ttf");
}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  cursor: default;
}

a {
  text-decoration: none;
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
  cursor: default;
}

a:active {
  font-family: "sansNarrow", Fallback, sans-serif;
  text-decoration: underline;
}

a:hover {
  font-family: "sansNarrow", Fallback, sans-serif;
  text-decoration: underline;
}

h1 {
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
  font-size: 48px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-left: 45px;
}

.title {
  margin-right: auto;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
  font-size: 48px;
}

.nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.quote-container {
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.about p {
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
}

.projects {
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  color: rgb(24, 24, 24);
  font-family: "sansNarrow", Fallback, sans-serif;
}
